.heroBanner {
  height: 100dvh;
  border-bottom: 0.5px solid #fff;
  position: relative;
}
.bannerContent {
  max-width: 90%;
  width: 100%;
}
.heroImage {
  position: absolute;
  width: 526px;
  height: 526px;
  right: 0;
  bottom: -8px;
}
