/* Banner  */
.heroBanner {
  height: 100dvh;
  border-bottom: 0.5px solid #fff;
  position: relative;
}
.bannerContent {
  max-width: 90%;
  width: 100%;
}
.heroImage {
  position: absolute;
  width: 526px;
  height: 526px;
  right: 0;
  bottom: -8px;
}
/* About */
.aboutContent {
  height: 500px;
}
.experienceContent {
  gap: 0.5rem;
}
/* Skills */
.skillsSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Projects s */
.projectBoxContainerOne {
  display: grid;
  grid-template-columns: 44% 54%;
  gap: 2%;
  justify-content: space-between;
}
.projectBox {
  padding: 52px;
  background-color: var(--color-3);
  height: 434px;
  border-radius: 10px;
  width: 100%;
}
.projectBox ul {
  gap: 1.5rem;
}
  
.aboutSection{
  height: 100vh;
  display: flex;
  align-items: center;
}

.p-box{
  padding: 20px;
  background-color: #222121;
  border-radius: 4px;
  border: 1px solid #222121;
  transition: border-color 0.3s ease;
}
.p-box:hover {
  border-color: #d4af3761;
}
.fp-heading{
  padding-bottom: 20px;
}
/* responsive  */
@media (max-width: 768px) {
.heroImage{
  bottom: -5px;
  width: 80%;
  height: auto;
}
.aboutSection{
  height: auto;
}
.aboutContent{
  height: auto;
}
.aboutContent{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-contnet-p{
  padding-top: 30px;
}
.circle-container img{
  width: 40px;
  height: 40px;
}
.skillsSection {
  height: 60vh;
}
.experience-content{
  padding-top: 30px;
}
.project-p{
  padding-top: 20px;
}
}