/* Spacing */
/* Vertical Padding (top + bottom) */
.pd-vl-sm {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}

.pd-vl-md {
  padding-top: var(--md);
  padding-bottom: var(--md);
}

.pd-vl-lg {
  padding-top: var(--lg);
  padding-bottom: var(--lg);
}

.pd-vl-xl {
  padding-top: var(--xl);
  padding-bottom: var(--xl);
}

/* Top Padding Only */
.pd-tp-sm {
  padding-top: var(--sm);
}
.pd-tp-md {
  padding-top: var(--md);
}
.pd-tp-lg {
  padding-top: var(--lg);
}
.pd-tp-xl {
  padding-top: var(--xl);
}

/* Bottom Padding Only */
.pd-bm-sm {
  padding-bottom: var(--sm);
}
.pd-bm-md {
  padding-bottom: var(--md);
}
.pd-bm-lg {
  padding-bottom: var(--lg);
}
.pd-bm-xl {
  padding-bottom: var(--xl);
}

/* Headings */
.heading-1,
.heading-2 {
  font-family: var(--font-primary);
}
.heading-3,
.heading-4 {
  font-family: var(--font-secondary);
}

.heading-1 {
  font-size: 76px;
  line-height: 1.2;
  letter-spacing: 2px;
}
.heading-2 {
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: 1px;
}
.heading-3 {
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: normal;
}
.heading-4 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: bold;
}

/* Texts */
.text-1,
.text-2 {
  font-family: var(--font-secondary);
}
.text-1 {
  font-size: 24px;
  line-height: 32px;
}
.text-2 {
  font-size: 20px;
  line-height: auto;
}
.text-3 {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: auto;
}

/* Header hover  */

.link--dia {
  position: relative;
  display: inline-block;
  padding-bottom: 0.2rem;
}

.link--dia::before,
.link--dia::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(3px);
  height: 0.5px;
  background: #ffffff;
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1),
    opacity 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

/* First line */
.link--dia::before {
  bottom: 0;
  width: 70%;
}

/* Second line slightly lower */
.link--dia::after {
  bottom: -5px;
  width: 50%;
}

/* Hover state */
.link--dia:hover::before,
.link--dia:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.link--dia::before,
.link--dia:hover::after {
  transition-delay: 0.1s;
}

.link--dia:hover::before {
  transition-delay: 0s;
}

/* Buttons  */

/* Hyperion button style */
.primaryBtn {
  width: fit-content;
  padding: 8px 8px 8px 23px;
  border-radius: 14px;
  overflow: hidden;
  color: #fff;
  position: relative;
  background: none;
  cursor: pointer;
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  z-index: 1;
  border: 1px solid #000;
}
.primaryBtn svg {
  position: relative;
  z-index: 2;
}
.primaryBtn span {
  display: block;
  position: relative;
  font-family: Delight, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.12px;
  z-index: 2;
}

.primaryBtn > span {
  overflow: hidden;
}

.primaryBtn > span > span {
  overflow: hidden;
  mix-blend-mode: difference;
  display: inline-block;
  transition: color 0.3s ease;
}

/* Text animation on hover */
.primaryBtn:hover > span {
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
  to {
    transform: translate3d(0, -105%, 0);
  }
}

@keyframes MoveUpEnd {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.primaryBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1), background 0.3s ease;
  transform-origin: 100% 50%;
}

.primaryBtn:hover::before {
  transform: scaleX(0);
  transform-origin: left;
  background: #000;
}

.primaryBtn:hover {
  border: 1px solid #000;
  color: #000;
}
.primaryBtn svg circle {
  transition: fill 0.3s ease;
}

.primaryBtn svg path {
  transition: fill 0.3s ease;
}

.primaryBtn:hover svg circle {
  fill: #000;
}

.primaryBtn:hover svg path {
  fill: #fff;
}
